@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom right,
      from(rgb(112, 26, 86)),
      from(rgb(145, 43, 108)),
      from(rgb(219, 39, 119)),
      to(rgb(251, 146, 60))
    );
  min-height: 100vh;
}
